html {
    background-color: #eee;
    font-size: 14px;
}

body {
    background-color: #fff;
    margin: 1rem 0.5rem;
    padding: 1rem 1.5rem;
    /* max-width: 20rem; */
    font-family: sans-serif;
    line-height: 2rem;
}

/* pc */
@media screen and (max-resolution: 180dpi) {
    html {
        font-size: 16px;
    }

    body {
        margin: 1rem auto;
        padding: 1rem 3rem;
        max-width: 42rem;
        text-align: justify;
    }
}

ul, ol {
    padding-left: 1.5rem;
}

a {
    color: #5d3cff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#topbar {
    border-bottom: 1px solid #bbb;
}

nav {
    padding: 1rem 0;
    display: flex;
}

#nav-left {
    text-align: left;
    flex: 1;
}

#nav-right {
    text-align: right;
}

nav a {
    color: #000;
    word-break: keep-all;
    text-decoration: none;
    border: none;
}

nav a:hover {
    color: #666;
    border: none;
}

nav #nav-left a {
    margin: 0 1rem 0 0;
}

nav #nav-right a {
    margin: 0 0 0 1rem;
}

header img {
    width: 2rem;
}

footer {
    margin-top: 2rem;
    border-top: 1px solid #bbb;
    text-align: center;
    font-size: 0.8rem;
    color: #333;
}

code {
    font-family: 'Source Code Pro', 'DejaVu Sans Mono', 'Courier New', 'Courier', 'Consolas', 'Source Han Sans SC', monospace;
    color: green;
}

pre {
    line-height: 1.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #eee;
    overflow-x: auto;
}

pre code {
    color: inherit;
    padding: 0;
    border: inherit;
}

h1 {
    margin: 3rem 0;
    border-bottom: 1px dashed #bbb;
    padding-bottom: 1rem;
}

h1,
h2,
h3,
strong {
    font-weight: bolder;
}

em {
    border-bottom: 2px dotted gray;
    font-style: normal;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead, tr:hover {
    background-color: #f3f3f3;
}

th, td {
    border: 1px solid #ccc;
    padding: 0 1rem;
}
