html {
    background-color: #eee;
}

body {
    background-color: #fff;
    font-family: sans-serif;
    line-height: 1.8rem;
}

/* width >= 800px */
@media screen and (min-width: 800px) {
    html {
        font-size: 16px;
    }

    body {
        text-align: justify;
        margin: 1rem auto;
        padding: 1rem 3rem;
        max-width: 42rem;
    }
}

/* width <= 800px */
@media screen and (max-width: 800px) {
    html {
        font-size: 16px;
    }

    body {
        margin: 1rem auto;
        padding: 1rem 2rem;
        max-width: 40rem;
    }
}

/* width <= 400px */
@media screen and (max-width: 400px) {
    html {
        font-size: 15px;
    }

    body {
        margin: 0 auto;
        padding: 1rem 1rem;
        max-width: 20rem;
    }
}

ul,
ol {
    padding-left: 1.5rem;
}

a {
    color: #5d3cff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#topbar {
    border-bottom: 1px solid #bbb;
}

nav {
    padding: 1rem 0;
    display: flex;
}

#nav-left {
    text-align: left;
    flex: 1;
}

#nav-right {
    text-align: right;
}

nav a {
    color: #000;
    word-break: keep-all;
    text-decoration: none;
    border: none;
}

nav a:hover {
    color: #666;
    border: none;
}

nav #nav-left a {
    margin: 0 1rem 0 0;
}

nav #nav-right a {
    margin: 0 0 0 1rem;
}

header img {
    width: 2rem;
}

footer {
    margin-top: 2rem;
    border-top: 1px solid #bbb;
    text-align: center;
    font-size: 0.8rem;
    color: #333;
}

code {
    color: green;
    font-family: 'Source Code Pro', 'DejaVu Sans Mono', 'Courier New', 'Courier', 'Consolas', 'Source Han Sans SC', monospace;
    /* font-size: 1rem; */
    white-space: nowrap;
    padding: 0 4px;
    border-radius: 4px;
    background-color: #eee;
}

pre {
    line-height: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #eee;
    overflow-x: auto;
}

pre code {
    font-size: 0.9rem;
    color: inherit;
    padding: 0;
    border: inherit;
    white-space: pre-wrap;
}

h1 {
    margin: 3rem 0;
    border-bottom: 1px dashed #bbb;
    padding-bottom: 1rem;
}

h2 {
    border-bottom: 1px solid #bbb;
    padding-bottom: 0.5rem;
}

h1,
h2,
h3,
strong {
    font-weight: bolder;
}

em {
    border-bottom: 2px dotted gray;
    font-style: normal;
}

table {
    border-collapse: collapse;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: scroll;
}

thead,
tr:hover {
    background-color: #f9f9f9;
}

th,
td {
    border: 1px solid #ccc;
    padding: 0 1rem;
}

div.note {
    margin: 1rem 0;
    padding: 0rem 1rem;
    border: 4px solid #9bd0a3;
    border-radius: 8px;
    background-color: #f4fff6;
}

div.warning {
    margin: 1rem 0;
    padding: 0rem 1rem;
    border: 4px solid #d09b9b;
    border-radius: 8px;
    background-color: #fff5f4;
}

div.mark {
    margin: 1rem 0;
    padding: 0rem 1rem;
    border: 4px solid #d0cd9b;
    border-radius: 8px;
    background-color: #fffff4;
}

img.math {
    display: block;
    width: 45%;
    margin: auto;
}

figure {
    margin: 1rem 0;
}

figure img,
img.center {
    display: block;
    width: 100%;
    margin: auto;
}

figcaption {
    text-align: center;
    font-size: 80%;
    color: #333;
    /* font-style: italic; */
    max-width: 90%;
    margin: 0.5rem auto 0;
    line-height: 1.2rem;
}

.new-tab-sym-link {
    user-select: none;
}

.image-cell {
    width: 8rem;
    vertical-align: bottom;
}
